@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

@font-face {
  font-family: "Yekan";
  src: url("/public/fonts/yekan/Yekan.eot");
  src:
    url("Yekan.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/yekan/Yekan.woff2") format("woff2"),
    url("/public/fonts/yekan/Yekan.woff") format("woff"),
    url("/public/fonts/yekan/Yekan.ttf") format("truetype"),
    url("/public/fonts/yekan/Yekan.svg#Yekan") format("svg");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yekan", sans-serif;
  }
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid white;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

[data-testid="flowbite-tooltip-arrow"] {
  background-color: #e0eaf5;
  border-top-color: #e0eaf5;
}
.btn span {
  color: inherit !important;
}
.btn:hover {
  color: white !important;
}

::-webkit-scrollbar {
  display: none;
}
.border-dashed-image {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='rgba(41, 145, 255, 1)' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 8px;
}

.btn:disabled {
  background-color: #dddddd;
  color: rgba(0, 0, 0, 0.38) !important;
  opacity: 1 !important;
  border: none;
}
